/.github export-ignore
/.wp-plugin-base export-ignore
/.wp-plugin-base.env export-ignore
/.wp-plugin-base-quality-pack export-ignore
/bin export-ignore
/dist export-ignore
/node_modules export-ignore
/tests export-ignore
/CONTRIBUTING.md export-ignore
/SECURITY.md export-ignore
/uninstall.php.example export-ignore
